
body {
    background: url(image.jpg);
}

div.header {
    text-align: center;
    font-size: 90px;
    font-family: Lucida Sans Unicode, monospace;
}

div.userSelect {
    text-align: center;
    font-size: 30px;
    font-family: Lucida Sans Unicode, monospace;
}

div.userData{
    visibility: hidden;
}

table {
    width: 600px; /* Ширина таблицы */
    border: 1px solid black; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
    border-collapse: collapse;
}

td,th {
    border: 1px solid black;
}

 
 